/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
body {
  background-color: #F7F8F6;
  /* header */
  /* svgs */ }
  body .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body .main h1, body .main h2, body .main h3, body .main li {
      color: #363537;
      font-family: 'Josefin Sans', sans-serif;
      padding: 0;
      padding-bottom: 16px; }
    body .main p {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 13px; }
    body .main ul {
      list-style: none;
      padding: 8px 0; }
      body .main ul li {
        padding: 4px 0; }
    body .main h3 {
      color: #6F73D2; }
    body .main .grid-container {
      margin-top: 100px;
      max-width: 100vw;
      display: grid;
      grid-template-areas: 'pr1' 'pr2';
      grid-gap: 16px;
      padding: 24px; }
      body .main .grid-container .pr1 {
        width: auto; }
        @media (min-width: 768px) {
          body .main .grid-container .pr1 {
            width: 70vw; } }
      body .main .grid-container .btn-container {
        display: flex;
        justify-content: center; }
        body .main .grid-container .btn-container .btn {
          background-color: #f68ddc;
          border-radius: 32px;
          text-align: center;
          padding: 6px 16px;
          color: #FFF;
          cursor: pointer;
          min-width: 100%;
          text-decoration: none;
          font-size: 14px; }
      body .main .grid-container .soc-svg {
        filter: contrast(0);
        margin-right: 8px; }
        body .main .grid-container .soc-svg:hover {
          filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%); }
      body .main .grid-container .f {
        display: unset; }
        @media (min-width: 768px) {
          body .main .grid-container .f {
            display: flex; }
            body .main .grid-container .f .ul-f {
              flex: 1; } }
      body .main .grid-container .btn:hover {
        background-color: #6F73D2; }
      body .main .grid-container .hlght {
        color: #6F73D2; }
      body .main .grid-container h1, body .main .grid-container h2 {
        color: #f68ddc; }
      body .main .grid-container h1 {
        font-size: 32px; }
      body .main .grid-container p {
        color: #363537; }
  body .header {
    color: #3366BB; }
  body .soc-svg1 {
    filter: contrast(0);
    cursor: pointer;
    width: 28px;
    margin: 4px; }
  body .soc-svg1:hover {
    filter: none;
    width: 32px; }
  body .profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 16px; }
  @media (min-width: 600px) {
    body .soc-svg1 {
      margin: 8px; } }

.portfolio-about {
  display: none;
  position: absolute;
  height: 25%;
  bottom: 0;
  right: 10%;
  z-index: -1; }
  @media (min-width: 992px) {
    .portfolio-about {
      display: block; } }
