/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
body.about {
  background-color: #F7F8F6; }
  body.about .main {
    margin: 80px auto;
    max-width: 1280px;
    display: block; }
    body.about .main h1, body.about .main h2, body.about .main h3, body.about .main li, body.about .main p {
      color: #808080;
      padding: 0;
      padding-bottom: 16px; }
    body.about .main li {
      font-family: 'Josefin Sans', sans-serif; }
    body.about .main ul {
      list-style: none; }
    body.about .main .about-top {
      padding: 64px 0;
      display: block; }
      body.about .main .about-top .about-img {
        width: 320px;
        height: 320px;
        border-radius: 8px;
        margin: 0 48px 0 0;
        object-fit: cover;
        display: none; }
      body.about .main .about-top .pri-txt {
        margin: 8px; }
        body.about .main .about-top .pri-txt h1 {
          color: #363537;
          font-weight: 600;
          font-size: 40px;
          line-height: 48px; }
        body.about .main .about-top .pri-txt h2 {
          line-height: 36px;
          max-width: 600px; }
      body.about .main .about-top .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 8px; }
        body.about .main .about-top .btn-container .btn {
          background-color: #f68ddc;
          border-radius: 32px;
          text-align: center;
          padding: 6px 16px;
          color: #FFF;
          cursor: pointer;
          min-width: 100%;
          text-decoration: none;
          font-size: 14px; }
          body.about .main .about-top .btn-container .btn:hover {
            background-color: #6F73D2; }
      body.about .main .about-top .soc-svg {
        filter: contrast(0);
        margin: 8px; }
        body.about .main .about-top .soc-svg:hover {
          filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%); }
      @media (min-width: 992px) {
        body.about .main .about-top {
          display: flex; }
          body.about .main .about-top .about-img {
            display: block; } }
    body.about .main .about-sec {
      padding: 64px 0; }
      body.about .main .about-sec h2 {
        color: #363537;
        font-weight: 600; }
      body.about .main .about-sec .sec-txt {
        padding: 0 32px 0 8px; }
        body.about .main .about-sec .sec-txt p {
          max-width: 480px; }
    body.about .main .about-bot {
      padding: 64px 0; }
    body.about .main .grid .ul-f {
      border: 1px solid #C7C7C7;
      padding: 16px;
      margin: 8px;
      border-radius: 8px; }
      body.about .main .grid .ul-f img {
        padding-bottom: 16px; }
      body.about .main .grid .ul-f li {
        padding: 6px 0; }
      body.about .main .grid .ul-f .hlght {
        color: #808080;
        margin-bottom: 16px;
        line-height: 40px; }
      body.about .main .grid .ul-f.h {
        display: flex; }
        body.about .main .grid .ul-f.h img {
          padding-bottom: 0;
          padding-right: 16px; }
    body.about .main .grid .ul-s {
      display: flex;
      flex-wrap: wrap; }
      body.about .main .grid .ul-s li {
        border: 1px solid #C7C7C7;
        border-radius: 8px;
        margin: 8px;
        padding: 8px 16px; }

.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 1300px) {
    .grid {
      max-width: 100%; } }
  .grid .row {
    position: relative;
    width: 100%; }
  .grid .row [class^="col"] {
    float: left;
    min-height: 0.125rem; }
  .grid .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid .col-1,
  .grid .col-2,
  .grid .col-3,
  .grid .col-4,
  .grid .col-5,
  .grid .col-6,
  .grid .col-7,
  .grid .col-8,
  .grid .col-9,
  .grid .col-10,
  .grid .col-11,
  .grid .col-12 {
    width: 100%; }
  .grid .col-1-xs {
    width: 8.33333%; }
  .grid .col-2-xs {
    width: 16.66667%; }
  .grid .col-3-xs {
    width: 25%; }
  .grid .col-4-xs {
    width: 33.33333%; }
  .grid .col-5-xs {
    width: 41.66667%; }
  .grid .col-6-xs {
    width: 50%; }
  .grid .col-7-xs {
    width: 58.33333%; }
  .grid .col-8-xs {
    width: 66.66667%; }
  .grid .col-9-xs {
    width: 75%; }
  .grid .col-10-xs {
    width: 83.33333%; }
  .grid .col-11-xs {
    width: 91.66667%; }
  .grid .col-12-xs {
    width: 100%; }
  @media (min-width: 480px) {
    .grid .col-1-sm {
      width: 8.33333%; }
    .grid .col-2-sm {
      width: 16.66667%; }
    .grid .col-3-sm {
      width: 25%; }
    .grid .col-4-sm {
      width: 33.33333%; }
    .grid .col-5-sm {
      width: 41.66667%; }
    .grid .col-6-sm {
      width: 50%; }
    .grid .col-7-sm {
      width: 58.33333%; }
    .grid .col-8-sm {
      width: 66.66667%; }
    .grid .col-9-sm {
      width: 75%; }
    .grid .col-10-sm {
      width: 83.33333%; }
    .grid .col-11-sm {
      width: 91.66667%; }
    .grid .col-12-sm {
      width: 100%; } }
  @media (min-width: 992px) {
    .grid .col-1-md {
      width: 8.33333%; }
    .grid .col-2-md {
      width: 16.66667%; }
    .grid .col-3-md {
      width: 25%; }
    .grid .col-4-md {
      width: 33.33333%; }
    .grid .col-5-md {
      width: 41.66667%; }
    .grid .col-6-md {
      width: 50%; }
    .grid .col-7-md {
      width: 58.33333%; }
    .grid .col-8-md {
      width: 66.66667%; }
    .grid .col-9-md {
      width: 75%; }
    .grid .col-10-md {
      width: 83.33333%; }
    .grid .col-11-md {
      width: 91.66667%; }
    .grid .col-12-md {
      width: 100%; } }
  @media (min-width: 1300px) {
    .grid .col-1 {
      width: 8.33333%; }
    .grid .col-2 {
      width: 16.66667%; }
    .grid .col-3 {
      width: 25%; }
    .grid .col-4 {
      width: 33.33333%; }
    .grid .col-5 {
      width: 41.66667%; }
    .grid .col-6 {
      width: 50%; }
    .grid .col-7 {
      width: 58.33333%; }
    .grid .col-8 {
      width: 66.66667%; }
    .grid .col-9 {
      width: 75%; }
    .grid .col-10 {
      width: 83.33333%; }
    .grid .col-11 {
      width: 91.66667%; }
    .grid .col-12 {
      width: 100%; } }

/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
.main {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .main .img .main-img {
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 0;
      display: none; }
    @media (min-width: 992px) {
      .main .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; } }
  .main .main-title {
    position: absolute;
    top: 20%;
    z-index: 20; }
    .main .main-title h1 {
      font-size: 40px;
      line-height: 56px;
      padding-bottom: 16px;
      color: #FFF;
      padding: 8px; }
    .main .main-title span {
      color: #f68ddc; }
    .main .main-title p {
      font-size: 16px;
      line-height: 24px;
      color: #FBCAEF;
      padding: 16px 8px 8px 8px;
      max-width: 520px; }
    @media (min-width: 992px) {
      .main .main-title {
        top: 35%; } }
    @media (min-width: 1760px) {
      .main .main-title h1 {
        font-size: 64px;
        line-height: 72px; } }

.background {
  z-index: 1; }
  .background .background-inner {
    position: absolute;
    padding: 0; }
    @media (min-width: 768px) {
      .background .background-inner {
        padding: 24px; } }
  .background .background-magic {
    background-color: #F7F8F6; }
  .background .circle-s {
    display: none;
    border-radius: 50%;
    z-index: -1;
    height: 4px;
    width: 4px; }
    @media (min-width: 1300px) {
      .background .circle-s {
        display: block; } }

/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363537;
  padding: 16px;
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 8;
  top: 0; }
  .nav li a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px; }
  .nav li a:hover {
    color: #f68ddc;
    text-decoration: none; }
  .nav #current {
    color: #f68ddc;
    text-decoration: none;
    cursor: inherit; }
  .nav .eye-all .eyelash {
    display: none;
    position: absolute;
    top: 13px;
    right: 9px;
    transform: translateX(-50%); }
    @media (min-width: 768px) {
      .nav .eye-all .eyelash {
        right: unset;
        left: 50%; } }
  .nav .eye-all .eye {
    width: 28px;
    height: 20px;
    background: #F7F8F6;
    position: relative;
    border-radius: 50%;
    overflow: hidden; }
    .nav .eye-all .eye .ball {
      width: 12px;
      height: 12px;
      background: #363537;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .nav .eye-all:hover .eye {
    background: #f68ddc; }
  .nav .eye-all:hover .eyelash {
    display: block; }
  .nav .social {
    display: none;
    width: 240px; }
    .nav .social a {
      float: right; }
    @media (min-width: 768px) {
      .nav .social {
        display: block; } }
  .nav .soc-svg {
    filter: contrast(0) brightness(100);
    cursor: pointer;
    width: 16px;
    margin: 8px; }
  .nav .soc-svg:hover {
    filter: none;
    width: 32px;
    margin: 0; }
  .nav .nav-links {
    list-style: none;
    width: 240px; }
    .nav .nav-links li {
      display: inline;
      padding: 0 8px; }
      .nav .nav-links li a {
        font-size: 18px; }
  .nav bottom p {
    display: flex;
    justify-content: center;
    padding: 0 0 32px 0; }

.nav-lower {
  background-image: url(../static/images/dropdown.png);
  height: 8px;
  width: 100%;
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: 80px 8px;
  background-position: center center;
  position: absolute;
  top: 64px;
  z-index: 8; }

@media (min-width: 600px) {
  .nav {
    padding: 16px 40px; } }

@media (min-width: 880px) {
  .nav {
    padding: 16px 48px; } }

/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
body.portfolio {
  background-color: #F7F8F6; }

body .main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  body .main .grid-container {
    position: absolute;
    width: 100%;
    top: 100px;
    display: grid;
    grid-template-areas: 'pr1' 'pr2' 'pr3' 'pr4' 'pr5' 'pr6';
    grid-column: 0px;
    padding: 24px; }
    body .main .grid-container .pr1 {
      grid-area: pr1;
      display: flex;
      flex-wrap: wrap;
      justify-content: center; }
    body .main .grid-container .pr2 {
      grid-area: pr2; }
    body .main .grid-container .pr3 {
      grid-area: pr3; }
    body .main .grid-container .pr4 {
      grid-area: pr4; }
    body .main .grid-container .pr5 {
      grid-area: pr5; }
    body .main .grid-container .pr6 {
      grid-area: pr6; }
    body .main .grid-container .p-img {
      display: flex; }
    body .main .grid-container .p-desc {
      background-color: #363537;
      display: none; }
      body .main .grid-container .p-desc .p-in {
        display: block; }
        @media (min-width: 992px) {
          body .main .grid-container .p-desc .p-in {
            display: flex; } }
        body .main .grid-container .p-desc .p-in .p-left {
          padding: 0 16px;
          width: 100%;
          max-width: 400px; }
          body .main .grid-container .p-desc .p-in .p-left p {
            font-size: 13px;
            padding: 24px 32px 0 0; }
          body .main .grid-container .p-desc .p-in .p-left h1 {
            padding: 24px 0; }
          @media (min-width: 992px) {
            body .main .grid-container .p-desc .p-in .p-left {
              padding: 0 0 0 16px;
              max-width: 34%; } }
        body .main .grid-container .p-desc .p-in .p-right {
          padding: 0 16px 32px 16px;
          max-width: 720px; }
          body .main .grid-container .p-desc .p-in .p-right p {
            padding: 24px 0 0 0; }
          body .main .grid-container .p-desc .p-in .p-right a {
            color: #f68ddc;
            text-decoration: none;
            font-size: 14px; }
          body .main .grid-container .p-desc .p-in .p-right h2 {
            padding: 12px 0; }
          @media (min-width: 992px) {
            body .main .grid-container .p-desc .p-in .p-right {
              padding: 0 40px 64px 0;
              max-width: unset; } }
      body .main .grid-container .p-desc h1, body .main .grid-container .p-desc h2 {
        font-family: 'Josefin Sans', sans-serif;
        color: #F3F3F3;
        text-align: left; }
      body .main .grid-container .p-desc p, body .main .grid-container .p-desc a {
        font-family: 'Josefin Sans', sans-serif;
        color: #FFF; }
    body .main .grid-container .btn-container {
      display: flex;
      justify-content: center;
      align-items: center; }
      body .main .grid-container .btn-container .btn {
        background-color: #f68ddc;
        border-radius: 32px;
        text-align: center;
        padding: 6px 16px;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        margin: 16px;
        font-size: 14px; }
      body .main .grid-container .btn-container .soc-svg {
        filter: contrast(0);
        width: unset;
        height: 28px; }
        body .main .grid-container .btn-container .soc-svg:hover {
          filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%); }
    body .main .grid-container .btn:hover {
      background-color: #6F73D2; }
    body .main .grid-container .title {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: 0;
      font-size: 64px;
      color: #FFF; }
    body .main .grid-container img {
      width: 100%;
      height: 240px;
      object-fit: cover; }
    body .main .grid-container .sec-img {
      display: none; }
    @media (min-width: 992px) {
      body .main .grid-container {
        grid-template-areas: 'pr1' 'pr2' 'pr3' 'pr4' 'pr5' 'pr6'; }
        body .main .grid-container .sec-img {
          display: block; } }
    @media (min-width: 1760px) {
      body .main .grid-container {
        width: 1260px;
        padding: 48px; } }
  body .main .grid-container div h2 {
    text-align: center;
    color: #444;
    margin: 16px 0;
    padding: 8px;
    height: 40px; }
  body .main .grid-container .p-img {
    opacity: .3;
    filter: grayscale(100%); }
  body .main .grid-container .p-img:hover {
    opacity: 1;
    filter: none; }

.pms {
  animation: pms 6s ease infinite;
  position: fixed;
  right: 120px;
  bottom: 0; }

@keyframes pms {
  0% {
    opacity: 1; }
  40% {
    opacity: .4; }
  60% {
    opacity: .6; }
  100% {
    opacity: 1; } }

.pm {
  animation: pm 6s ease infinite;
  position: fixed;
  height: 24%;
  right: 112px; }

@keyframes pm {
  0% {
    bottom: 8px; }
  50% {
    bottom: 40px; }
  100% {
    bottom: 8px; } }

.pm, .pms {
  display: none; }
  @media (min-width: 1760px) {
    .pm, .pms {
      display: block; } }

/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
/* generic stuff */
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  background-color: #363537; }
  body .main {
    height: 100%; }
    body .main h1 {
      font-size: 24px;
      line-height: 30px;
      padding-top: 4px;
      letter-spacing: 0.6px;
      color: #444444; }
    body .main h2 {
      font-size: 24px;
      line-height: 26px;
      padding: 8px;
      color: #444444;
      letter-spacing: 0.4px; }
    body .main h3 {
      font-size: 16px;
      line-height: 24px;
      padding-top: 4px;
      color: #444444;
      letter-spacing: 0.3px; }
    body .main p {
      font-size: 14px;
      line-height: 22px;
      color: #4B646A;
      letter-spacing: 0.2px; }
