/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap");
.access-skip {
  position: fixed;
  left: -1000px;
  top: 0;
  z-index: 10;
  font-size: 10px;
  line-height: 10px;
  background-color: #fff; }
  .access-skip:focus-within {
    left: 0; }

.bc a {
  display: inline-block; }

.case-img {
  width: 100%;
  padding: 32px 16px;
  height: 400px;
  object-fit: cover; }

section .case p {
  font-size: 18px;
  margin: 16px 0;
  line-height: 28px; }

.social a {
  float: left; }

@media (min-width: 768px) {
  .social {
    display: block; } }

.soc-svg {
  filter: contrast(0) brightness(0.48);
  cursor: pointer;
  width: 32px;
  margin: 0 16px 0 0; }
  .soc-svg:hover {
    filter: none; }

.fd {
  display: none; }

.show {
  display: block; }

.btn {
  padding: 8px 16px;
  border: 1px solid #bebebe;
  border-radius: 8px;
  background-color: unset;
  font-size: 15px;
  color: #808080;
  font-family: 'Josefin Sans', sans-serif;
  margin: 8px 16px 8px 0; }
  .btn:hover {
    background-color: #f3f3f3;
    cursor: pointer; }

.grid {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (min-width: 1300px) {
    .grid {
      max-width: 100%; } }
  .grid .row {
    position: relative;
    width: 100%; }
  .grid .row [class^="col"] {
    float: left;
    min-height: 0.125rem; }
  .grid .row::after {
    content: "";
    display: table;
    clear: both; }
  .grid .col-1,
  .grid .col-2,
  .grid .col-3,
  .grid .col-4,
  .grid .col-5,
  .grid .col-6,
  .grid .col-7,
  .grid .col-8,
  .grid .col-9,
  .grid .col-10,
  .grid .col-11,
  .grid .col-12 {
    width: 100%; }
  .grid .col-1-xs {
    width: 8.33333%; }
  .grid .col-2-xs {
    width: 16.66667%; }
  .grid .col-3-xs {
    width: 25%; }
  .grid .col-4-xs {
    width: 33.33333%; }
  .grid .col-5-xs {
    width: 41.66667%; }
  .grid .col-6-xs {
    width: 50%; }
  .grid .col-7-xs {
    width: 58.33333%; }
  .grid .col-8-xs {
    width: 66.66667%; }
  .grid .col-9-xs {
    width: 75%; }
  .grid .col-10-xs {
    width: 83.33333%; }
  .grid .col-11-xs {
    width: 91.66667%; }
  .grid .col-12-xs {
    width: 100%; }
  @media (min-width: 480px) {
    .grid .col-1-sm {
      width: 8.33333%; }
    .grid .col-2-sm {
      width: 16.66667%; }
    .grid .col-3-sm {
      width: 25%; }
    .grid .col-4-sm {
      width: 33.33333%; }
    .grid .col-5-sm {
      width: 41.66667%; }
    .grid .col-6-sm {
      width: 50%; }
    .grid .col-7-sm {
      width: 58.33333%; }
    .grid .col-8-sm {
      width: 66.66667%; }
    .grid .col-9-sm {
      width: 75%; }
    .grid .col-10-sm {
      width: 83.33333%; }
    .grid .col-11-sm {
      width: 91.66667%; }
    .grid .col-12-sm {
      width: 100%; } }
  @media (min-width: 992px) {
    .grid .col-1-md {
      width: 8.33333%; }
    .grid .col-2-md {
      width: 16.66667%; }
    .grid .col-3-md {
      width: 25%; }
    .grid .col-4-md {
      width: 33.33333%; }
    .grid .col-5-md {
      width: 41.66667%; }
    .grid .col-6-md {
      width: 50%; }
    .grid .col-7-md {
      width: 58.33333%; }
    .grid .col-8-md {
      width: 66.66667%; }
    .grid .col-9-md {
      width: 75%; }
    .grid .col-10-md {
      width: 83.33333%; }
    .grid .col-11-md {
      width: 91.66667%; }
    .grid .col-12-md {
      width: 100%; } }
  @media (min-width: 1300px) {
    .grid .col-1 {
      width: 8.33333%; }
    .grid .col-2 {
      width: 16.66667%; }
    .grid .col-3 {
      width: 25%; }
    .grid .col-4 {
      width: 33.33333%; }
    .grid .col-5 {
      width: 41.66667%; }
    .grid .col-6 {
      width: 50%; }
    .grid .col-7 {
      width: 58.33333%; }
    .grid .col-8 {
      width: 66.66667%; }
    .grid .col-9 {
      width: 75%; }
    .grid .col-10 {
      width: 83.33333%; }
    .grid .col-11 {
      width: 91.66667%; }
    .grid .col-12 {
      width: 100%; } }

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  section .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    section .img .main-img {
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 0;
      display: none; }
    @media (min-width: 992px) {
      section .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; } }
  section .main-title {
    padding-top: 64px; }
    section .main-title span {
      color: #f68ddc; }
    section .main-title p {
      font-size: 16px;
      line-height: 24px;
      color: #FBCAEF;
      padding: 16px 8px 8px 8px;
      max-width: 520px; }
    @media (min-width: 992px) {
      section .main-title {
        top: 35%;
        position: absolute;
        padding-top: 0; } }

.background {
  z-index: 1; }
  .background .background-inner {
    position: absolute;
    padding: 0; }
    @media (min-width: 768px) {
      .background .background-inner {
        padding: 24px; } }
  .background .background-magic {
    background-color: #F7F8F6; }
  .background .circle-s {
    display: none;
    border-radius: 50%;
    z-index: -1;
    height: 4px;
    width: 4px; }
    @media (min-width: 1300px) {
      .background .circle-s {
        display: block; } }

body.inner {
  background-color: #F7F8F6; }
  body.inner section {
    display: block; }
    body.inner section.bg {
      background-color: #ffdff82b; }
    body.inner section .title {
      color: #363537;
      font-weight: 600;
      font-size: 56px; }
    body.inner section .sec-title {
      color: #363537;
      font-weight: 600;
      font-size: 32px;
      line-height: 56px; }
    body.inner section p, body.inner section li {
      color: #808080; }
    body.inner section li {
      font-family: 'Josefin Sans', sans-serif; }
    body.inner section ul {
      list-style: none; }
    body.inner section .grid {
      margin: 32px auto;
      max-width: 1280px;
      padding: 16px; }
      body.inner section .grid .ul-f {
        border: 1px solid #bebebe;
        padding: 16px;
        margin: 8px;
        border-radius: 8px; }
        body.inner section .grid .ul-f img {
          padding-bottom: 16px; }
        body.inner section .grid .ul-f li {
          padding: 6px 0; }
        body.inner section .grid .ul-f .hlght {
          color: #808080;
          margin-bottom: 16px;
          line-height: 40px; }
        body.inner section .grid .ul-f.h {
          display: flex; }
          body.inner section .grid .ul-f.h img {
            padding-bottom: 0;
            padding-right: 16px; }
      body.inner section .grid .ul-s {
        display: flex;
        flex-wrap: wrap; }
        body.inner section .grid .ul-s li {
          border: 1px solid #bebebe;
          border-radius: 8px;
          margin: 8px 16px 8px 0;
          padding: 8px 16px; }

/* nav */
.nav-out {
  background-color: #F7F8F6;
  width: 100%;
  display: block; }
  .nav-out.home {
    background-color: #363537; }
    .nav-out.home .nav {
      border-bottom: 2px solid #F7F8F6; }
      .nav-out.home .nav .soc-svg {
        filter: contrast(0) brightness(100); }
      .nav-out.home .nav .eye-all .eye {
        background: #F7F8F6; }
        .nav-out.home .nav .eye-all .eye .ball {
          background: #363537; }
      .nav-out.home .nav li a {
        color: #F7F8F6; }
  .nav-out .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    height: 64px;
    max-width: 1280px;
    margin: 0 auto;
    position: sticky;
    border-bottom: 2px solid #363537; }
    .nav-out .nav li a {
      font-family: 'Josefin Sans', sans-serif;
      text-decoration: none;
      color: #363537;
      font-size: 24px; }
    .nav-out .nav li a:hover {
      color: #f68ddc;
      text-decoration: none; }
    .nav-out .nav #current {
      color: #f68ddc;
      text-decoration: none;
      cursor: inherit; }
    .nav-out .nav .eye-all .eye {
      width: 28px;
      height: 28px;
      background: #363537;
      position: relative;
      border-radius: 50%;
      overflow: hidden; }
      .nav-out .nav .eye-all .eye .ball {
        width: 12px;
        height: 12px;
        background: #F7F8F6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%; }
    .nav-out .nav .eye-all:hover .eye {
      background: #f68ddc; }
    .nav-out .nav .eye-all:hover .eyelash {
      display: block; }
    .nav-out .nav .social {
      display: none;
      width: 240px; }
      .nav-out .nav .social a {
        float: right; }
      @media (min-width: 768px) {
        .nav-out .nav .social {
          display: block; } }
    .nav-out .nav .soc-svg {
      filter: contrast(0) brightness(0.48);
      cursor: pointer;
      width: 20px;
      margin: 6px; }
      .nav-out .nav .soc-svg:hover {
        filter: none;
        width: 32px;
        margin: 0; }
    .nav-out .nav .nav-links {
      list-style: none;
      width: 240px; }
      .nav-out .nav .nav-links li {
        display: inline;
        padding: 0 8px; }
        .nav-out .nav .nav-links li a {
          font-size: 16px;
          display: inline-block; }
        .nav-out .nav .nav-links li:first-of-type {
          padding-left: 0; }
    .nav-out .nav bottom p {
      display: flex;
      justify-content: center;
      padding: 0 0 32px 0; }

.port {
  border-radius: 50%; }
  .port .port-out {
    padding: 16px; }
    .port .port-out:hover .port-img {
      border-radius: 50%; }
    .port .port-out .port-img {
      border-radius: 4px;
      overflow: clip;
      margin: auto;
      max-width: 280px;
      max-height: 280px;
      width: 280px;
      height: 280px;
      object-fit: cover; }
      .port .port-out .port-img img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      @media (min-width: 1300px) {
        .port .port-out .port-img {
          max-width: 400px;
          max-height: 400px;
          width: 400px;
          height: 400px; } }

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background-color: #363537; }

h1 {
  font-size: 40px;
  line-height: 56px;
  padding-bottom: 16px;
  color: #FFF;
  margin: 8px 0; }
  @media (min-width: 1760px) {
    h1 {
      font-size: 64px;
      line-height: 72px; } }

h2 {
  font-size: 24px;
  line-height: 26px;
  margin: 8px 0;
  color: #444444;
  letter-spacing: 0.4px; }

h3 {
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0;
  color: #444444;
  letter-spacing: 0.3px; }

p {
  font-size: 16px;
  line-height: 24px;
  color: #4B646A;
  letter-spacing: 0.2px; }

a {
  text-decoration: none;
  font-size: 16px;
  color: #6F73D2;
  display: block;
  padding: 16px 0; }
  a:hover {
    text-decoration: underline;
    color: #4549c4; }
