/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
.main {
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .main .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .main .img .main-img {
      width: 100%;
      z-index: 2;
      position: absolute;
      bottom: 0;
      display: none; }
    @media (min-width: 992px) {
      .main .img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; } }
  .main .main-title {
    position: absolute;
    top: 20%;
    z-index: 20; }
    .main .main-title h1 {
      font-size: 48px;
      line-height: 56px;
      padding-bottom: 16px;
      color: #FFF;
      padding: 8px; }
      .main .main-title h1 span {
        color: #fccd6b; }
    .main .main-title p {
      font-size: 16px;
      line-height: 24px;
      color: #FBCAEF;
      padding: 16px 8px 8px 8px;
      max-width: 520px; }
    @media (min-width: 992px) {
      .main .main-title {
        top: 35%; } }
    @media (min-width: 1760px) {
      .main .main-title h1 {
        font-size: 64px;
        line-height: 72px; } }

.background {
  z-index: 1; }
  .background .background-inner {
    position: absolute;
    padding: 0; }
    @media (min-width: 768px) {
      .background .background-inner {
        padding: 24px; } }
  .background .background-magic {
    background-color: #FFF; }
  .background .circle-s {
    display: none;
    border-radius: 50%;
    z-index: -1;
    height: 8px;
    width: 8px; }
    @media (min-width: 1300px) {
      .background .circle-s {
        display: block; } }
