/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363537;
  padding: 16px;
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 8; }
  .nav li a {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: #ffffff;
    font-size: 24px; }
  .nav li a:hover {
    color: #fccd6b;
    text-decoration: none; }
  .nav #current {
    color: #fccd6b;
    text-decoration: none;
    cursor: inherit; }
  .nav .eye-all .eyelash {
    display: none;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%); }
  .nav .eye-all .eye {
    width: 28px;
    height: 20px;
    background: #F7F8F6;
    position: relative;
    border-radius: 50%;
    overflow: hidden; }
    .nav .eye-all .eye .ball {
      width: 12px;
      height: 12px;
      background: #363537;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%; }
  .nav .eye-all:hover .eye {
    background: #fccd6b; }
  .nav .eye-all:hover .eyelash {
    display: block; }
  .nav .social {
    display: none;
    width: 240px; }
    .nav .social a {
      float: right; }
    @media (min-width: 768px) {
      .nav .social {
        display: block; } }
  .nav .soc-svg {
    filter: contrast(0) brightness(100);
    cursor: pointer;
    width: 16px;
    margin: 8px; }
  .nav .soc-svg:hover {
    filter: none;
    width: 32px;
    margin: 0; }
  .nav .nav-links {
    list-style: none;
    width: 240px; }
    .nav .nav-links li {
      display: inline;
      padding: 0 8px; }
      .nav .nav-links li a {
        font-size: 18px; }
  .nav bottom p {
    display: flex;
    justify-content: center;
    padding: 0 0 32px 0; }

.nav-lower {
  background-image: url(../static/images/dropdown.png);
  height: 8px;
  width: 100%;
  background-color: transparent;
  background-repeat: repeat-x;
  background-size: 80px 8px;
  background-position: center center;
  position: absolute;
  top: 64px;
  z-index: 8; }

@media (min-width: 600px) {
  .nav {
    padding: 16px 40px; } }

@media (min-width: 880px) {
  .nav {
    padding: 16px 48px; } }
