/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
body {
  background-color: #F7F8F6; }
  body .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body .main h1 {
      margin-top: 100px;
      color: #444;
      font-family: 'Permanent Marker', sans-serif !important; }
    body .main .grid-container {
      position: absolute;
      width: 100%;
      top: 140px;
      display: grid;
      grid-template-areas: 'pr1' 'pr2' 'pr3' 'pr4';
      grid-gap: 16px;
      padding: 24px; }
      body .main .grid-container .pr1 {
        grid-area: pr1; }
      body .main .grid-container .pr2 {
        grid-area: pr2; }
      body .main .grid-container .pr3 {
        grid-area: pr3; }
      body .main .grid-container .pr4 {
        grid-area: pr4;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      body .main .grid-container .btn-container {
        display: flex;
        justify-content: center; }
        body .main .grid-container .btn-container .btn {
          background-color: #f68ddc;
          border-radius: 32px;
          text-align: center;
          padding: 16px 32px;
          color: #FFF;
          cursor: pointer;
          max-width: 400px;
          text-decoration: none;
          margin: 16px; }
      body .main .grid-container .btn:hover {
        background-color: #6F73D2; }
      body .main .grid-container img {
        width: 100%; }
      @media (min-width: 768px) {
        body .main .grid-container {
          grid-template-areas: 'pr1 pr2 pr3' 'pr4 pr4 pr4'; } }
      @media (min-width: 1300px) {
        body .main .grid-container {
          width: 1260px;
          padding: 48px; } }
    body .main .grid-container div h2 {
      font-family: 'Permanent Marker', sans-serif !important;
      text-align: center;
      color: #444;
      margin: 16px 0;
      padding: 8px;
      height: 40px; }
    body .main .grid-container div {
      opacity: .8; }
    body .main .grid-container div:hover {
      opacity: 1; }

.cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #363537;
  z-index: 32; }
  .cover .p1, .cover .p2, .cover .p3 {
    display: none; }
    .cover .p1 .doot, .cover .p2 .doot, .cover .p3 .doot {
      width: 100%;
      object-fit: cover; }

.portfolio-me {
  display: none;
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 20%; }
  @media (min-width: 768px) {
    .portfolio-me {
      display: block; } }
