/*breakpoints*/
/*colours*/
/*borders*/
/*shadow*/
/*radius*/
/*spacing variables*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
body {
  background-color: #F7F8F6; }
  body .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    body .main .grid-container {
      position: absolute;
      width: 100%;
      top: 100px;
      display: grid;
      grid-template-areas: 'pr1' 'pr2' 'pr3' 'pr4' 'pr5' 'pr6';
      grid-column: 0px;
      padding: 24px; }
      body .main .grid-container .pr1 {
        grid-area: pr1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
      body .main .grid-container .pr2 {
        grid-area: pr2; }
      body .main .grid-container .pr3 {
        grid-area: pr3; }
      body .main .grid-container .pr4 {
        grid-area: pr4; }
      body .main .grid-container .pr5 {
        grid-area: pr5; }
      body .main .grid-container .pr6 {
        grid-area: pr6; }
      body .main .grid-container .p-img {
        display: flex; }
      body .main .grid-container .p-desc {
        background-color: #363537;
        display: none; }
        body .main .grid-container .p-desc .p-in {
          display: block; }
          @media (min-width: 992px) {
            body .main .grid-container .p-desc .p-in {
              display: flex; } }
          body .main .grid-container .p-desc .p-in .p-left {
            padding: 0 16px;
            width: 100%;
            max-width: 480px; }
            body .main .grid-container .p-desc .p-in .p-left p {
              font-size: 13px;
              padding: 24px 32px 0 0; }
            body .main .grid-container .p-desc .p-in .p-left h1 {
              padding: 24px 0; }
            @media (min-width: 992px) {
              body .main .grid-container .p-desc .p-in .p-left {
                padding: 0 0 0 16px;
                max-width: unset; } }
          body .main .grid-container .p-desc .p-in .p-right {
            padding: 0 16px 32px 16px;
            max-width: 720px; }
            body .main .grid-container .p-desc .p-in .p-right p {
              padding: 24px 0 0 0; }
            body .main .grid-container .p-desc .p-in .p-right h2 {
              padding: 12px 0; }
            @media (min-width: 992px) {
              body .main .grid-container .p-desc .p-in .p-right {
                padding: 0 40px 64px 0;
                max-width: unset; } }
        body .main .grid-container .p-desc h1, body .main .grid-container .p-desc h2 {
          font-family: 'Josefin Sans', sans-serif;
          color: #F3F3F3;
          text-align: left; }
        body .main .grid-container .p-desc p {
          font-family: 'Josefin Sans', sans-serif;
          color: #FFF; }
      body .main .grid-container .btn-container {
        display: flex;
        justify-content: center;
        align-items: center; }
        body .main .grid-container .btn-container .btn {
          background-color: #f68ddc;
          border-radius: 32px;
          text-align: center;
          padding: 6px 16px;
          color: #FFF;
          cursor: pointer;
          text-decoration: none;
          margin: 16px;
          font-size: 14px; }
        body .main .grid-container .btn-container .soc-svg {
          filter: contrast(0);
          width: unset;
          height: 28px; }
          body .main .grid-container .btn-container .soc-svg:hover {
            filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%); }
      body .main .grid-container .btn:hover {
        background-color: #6F73D2; }
      body .main .grid-container .title {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0;
        font-size: 64px;
        color: #FFF; }
      body .main .grid-container img {
        width: 100%;
        height: 240px;
        object-fit: cover; }
      body .main .grid-container .sec-img {
        display: none; }
      @media (min-width: 992px) {
        body .main .grid-container {
          grid-template-areas: 'pr1' 'pr2' 'pr3' 'pr4' 'pr5' 'pr6'; }
          body .main .grid-container .sec-img {
            display: block; } }
      @media (min-width: 1760px) {
        body .main .grid-container {
          width: 1260px;
          padding: 48px; } }
    body .main .grid-container div h2 {
      text-align: center;
      color: #444;
      margin: 16px 0;
      padding: 8px;
      height: 40px; }
    body .main .grid-container .p-img {
      opacity: .3;
      filter: grayscale(100%); }
    body .main .grid-container .p-img:hover {
      opacity: 1;
      filter: none; }

.pms {
  animation: pms 6s ease infinite;
  position: fixed;
  right: 120px;
  bottom: 0; }

@keyframes pms {
  0% {
    opacity: 1; }
  40% {
    opacity: .4; }
  60% {
    opacity: .6; }
  100% {
    opacity: 1; } }

.pm {
  animation: pm 6s ease infinite;
  position: fixed;
  height: 24%;
  right: 112px; }

@keyframes pm {
  0% {
    bottom: 8px; }
  50% {
    bottom: 40px; }
  100% {
    bottom: 8px; } }

.pm, .pms {
  display: none; }
  @media (min-width: 1760px) {
    .pm, .pms {
      display: block; } }
