@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap');

body {

	&.about {
		background-color: $white_off;

		.main {
			margin: 80px auto;
			max-width: 1280px;
			display: block;

			h1, h2, h3, li, p {
				color: $grey_concrete;
				padding: 0;
				padding-bottom: 16px;
			}

			li {
				font-family: 'Josefin Sans', sans-serif;
			}

			ul {
				list-style: none;
			}

			.about-top {
				padding: 64px 0;
				display: block;

				.about-img {
					width: 320px;
					height: 320px;
					border-radius: 8px;
					margin: 0 48px 0 0;
					object-fit: cover;
					display: none;
				}

				.pri-txt {

					margin: 8px;

					h1 {
						color: $black_jet;
						font-size: 64px;
						line-height: 72px;

					}

					h2 {
						line-height: 32px;
						letter-spacing: -0.4px;
						max-width: 600px;
					}
				}

				.btn-container {
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 8px;

					.btn {
						background-color: $pink_dark;
						border-radius: 32px;
						text-align: center;
						padding: 6px 16px;
						color: $white;
						cursor: pointer;
						min-width: 100%;
						text-decoration: none;
						font-size: 14px;

						&:hover {
							background-color: $voilet_blue;
						}
					}
				}

				.soc-svg {
					filter: contrast(0);
					margin: 8px;

					&:hover {
						filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%);
					}
				}

				@media (min-width: $breakpoint-md) {
					display: flex;

					.about-img {
						display: block;
					}
				}
			}

			.about-sec {
				padding: 64px 0;

				h2 {
					color: $black_jet;
					font-size: 40px;
					line-height: 56px;
				}

				.sec-txt {
					padding: 0 32px 0 8px;

					p {
						max-width: 480px;
					}
				}
			}

			.about-bot {
				padding: 64px 0;
			}

			.grid {

				.ul-f {

					img {
						padding-bottom: 16px;
					}

					border: 1px solid $grey_med;
					padding: 16px;
					margin: 8px;
					border-radius: 8px;

					li {
						padding: 6px 0;
					}

					.hlght {
						color: $grey_concrete;
						margin-bottom: 16px;
						line-height: 40px;
					}

					&.h {
						display: flex;

						img {
							padding-bottom: 0;
							padding-right: 16px;
						}
					}
				}

				.ul-s {
					display: flex;
					flex-wrap: wrap;

					li{
						border: 1px solid $grey_med;
						border-radius: 8px;
						margin: 8px;
						padding: 8px 16px;
					}
				}
			}
		}
	}
}
