.case-img {
	width: 100%;
	padding: 32px 16px;
	height: 240px;
	object-fit: cover;

	@media (min-width: $breakpoint-xs) {
		height: 400px;
	}
}

section {

	.case {

		p {
			font-size: 18px;
			margin: 16px 0;
			line-height: 28px;
		}
	}
}

