.case-img {
	width: 100%;
	height: 240px;
	object-fit: cover;
	border-radius: 16px;
	margin: 32px 0 8px 0;
	border: 1px solid $grey_light_2;

	@media (min-width: $breakpoint-xs) {
		height: 400px;
	}
}

section {

	.case {
		margin: auto;
		max-width: 1000px;

		figure {

			figcaption {
				font-style: italic;
				color: $grey_stone;
				padding: 0 32px;
				margin: 16px 0 32px 0;
				font-size: 15px;
				line-height: 23px;
			}
		}

		p, a {
			font-size: 18px;
			margin: 16px 0;
			line-height: 28px;
			padding: 0 32px;
		}

		h2 {
			padding: 0 32px;
		}
	}
}

