.social {

	a {
		float: left;
	}

	@media (min-width: $breakpoint-sm) {
		display: block;
	}
}

.soc-svg {
	filter: contrast(0) brightness(0.48);
	cursor: pointer;
	width: 32px;
	margin: 0 16px 0 0;

	&:hover {
		filter: none;
	}
}

.git {
	display: block;
	text-align: center;
}
