section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

	.img {
		display: flex;
		align-items: center;
		justify-content: center;
		width:100%;

		.main-img {
			width: 100%;
			z-index: 2;
			position: absolute;
			bottom: 0;
			display: none;
		}

		@media (min-width: $breakpoint-md) {
			display: flex;
			align-items: center;
			justify-content: center;
			width:100%;
			height: 100%;
		}
	}

	.main-title {
		padding: 64px 16px 0 16px;

		span {
			color: $pink_dark;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: $pink_candy;
			padding: 16px 8px 8px 8px;
			max-width: 520px;
		}

		h1 {
			padding-bottom: 0;
		}

		a {
			color: $cyan_light;

			&:hover {
				color: $voilet_blue;
			}
		}

		@media (min-width: $breakpoint-md) {
			top: calc((((100vh - 64px) - 379px) / 2 ) + 64px);
			position: absolute;
			padding: 0;
		}
	}
}

.background {
	z-index: 1;

	.background-inner {
		position: absolute;
		padding: 0;

		@media (min-width: $breakpoint-sm) {
			padding: 24px;
		}
	}

	.background-magic {
		background-color: $white_off;
	}

	.circle-s {
		display: none;
		border-radius: 50%;
		z-index: -1;
		height: 4px;
		width: 4px;

		@media (min-width: $breakpoint-lg) {
			display: block;
		}
	}
}

