@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

/* nav */
.nav-out {
	background-color: $white;
	width: 100%;
	display: block;

	&.home {
		background-color: $black_jet;

		.nav {
			border-bottom: 2px solid $white;

			.soc-svg {
				filter: contrast(0) brightness(100);
			}

			.eye-all {

				.eye {
					background: $white;

					.ball {
						background: $black_jet;
					}
				}
			}

			li a {
				color: $white;
			}
		}
	}

	.nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 16px;
		height: 64px;
		max-width: 1280px;
		margin: 0 auto;
		position: sticky;
		border-bottom: 2px solid $black_jet;

		li a {
			font-family: 'Josefin Sans', sans-serif;
			text-decoration: none;
			color: $black_jet;
			font-size: 24px;
		}

		li a:hover {
			color: $pink_dark;
			text-decoration: none;
		}

		#current {
			color: $pink_dark;
			text-decoration: none;
			cursor: inherit;
		}

		.eye-all {

			.eye {
				width: 28px;
				height: 28px;
				background: $black_jet;
				position: relative;
				border-radius: 50%;
				overflow: hidden;

				.ball {
					width: 12px;
					height: 12px;
					background: $white;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					border-radius: 50%;
				}
			}

			&:hover .eye{
				background: $pink_dark;
			}

			&:hover .eyelash{
				display: block;
			}
		}


		.social {
			display: none;
			width: 240px;

			a {
				float: right;
			}

			@media (min-width: $breakpoint-sm) {
				display: block;
			}
		}

		.soc-svg {
			filter: contrast(0) brightness(0.48);
			cursor: pointer;
			width: 20px;
			margin: 6px;

			&:hover {
				filter: none;
				width: 32px;
				margin: 0;
			}
		}

		.nav-links {
			list-style: none;
			width: 240px;

			li {
				display: inline;
				padding:  0 8px;

				a {
					font-size: 16px;
					display: inline-block;
				}

				&:first-of-type {
					padding-left: 0;
				}
			}
		}

		bottom p {
			display: flex;
			justify-content: center;
			padding: 0 0 32px 0;
		}

	}
}

// .nav-lower {
// 	background-image: url(../static/images/dropdown.png);
// 	height: 8px;
// 	width: 100%;
// 	background-color: transparent;
// 	background-repeat: repeat-x;
// 	background-size: 80px 8px;
// 	background-position: center center;
// 	position: absolute;
// 	top: 64px;
// 	z-index: 8;
// }
