.port {
	border-radius: 50%;

	.port-out {
		padding: 16px;

		&:hover {

			.port-img {
				border-radius: 50%;
			}
		}

		.port-img {
			border-radius: 4px;
			overflow: clip;
			margin: auto;
			max-width: 280px;
			max-height: 280px;
			width: 280px;
			height: 280px;
			object-fit: cover;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
			}

			@media (min-width: $breakpoint-xs) {
				max-width: 400px;
				max-height: 400px;
				width: 400px;
				height: 400px;
			}
		}
	}

}
