@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	background-color: $black_jet;

	.main {
		height: 100%;

	}
}
