h1 {
	font-size: 40px;
	line-height: 56px;
	padding-bottom: 16px;
	color: $white;
	margin: 8px 0;

	@media (min-width: $breakpoint-xl) {

		font-size: 64px;
		line-height: 72px;
	}
}

h2 {
	font-size: 24px;
	line-height: 26px;
	margin: 8px 0;
	color: $black_jet;
	letter-spacing: 0.4px;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	margin: 8px 0;
	color: $black_jet;
	letter-spacing: 0.3px;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: $grey_slate;
	margin: 8px 0;
	letter-spacing: 0.2px;
}

a {
	text-decoration: none;
	font-size: 16px;
	color: $voilet_blue;
	display: block;
	padding: 16px 0;

	&:hover {
		text-decoration: underline;
		color: $voilet_dark;
	}
}
