@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
	background-color: $white_off;

	.main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		h1, h2, h3, li {
			color: $black_jet;
			font-family: 'Josefin Sans', sans-serif;
			padding: 0;
			padding-bottom: 16px;
		}

		p {
			font-family: 'Josefin Sans', sans-serif;
			font-size: 13px;

		}

		ul {
			list-style: none;
			padding: 8px 0;

			li {
				padding: 4px 0;;
			}
		}

		h3 {
			color: $voilet_blue;
		}

		.grid-container {
			margin-top: 100px;
			max-width: 100vw;
			display: grid;
			grid-template-areas:
				'pr1'
				'pr2';
			grid-gap: 16px;
			padding: 24px;

			.pr1 {
				width: auto;

				@media (min-width: $breakpoint-sm) {
					width: 70vw;
				}
			}

			.btn-container {
				display: flex;
				justify-content: center;

				.btn {
					background-color: $pink_dark;
					border-radius: 32px;
					text-align: center;
					padding: 6px 16px;
					color: $white;
					cursor: pointer;
					min-width: 100%;
					text-decoration: none;
					font-size: 14px;
				}
			}

			.soc-svg {
				filter: contrast(0);
				margin-right: 8px;

				&:hover {
					filter: invert(64%) sepia(40%) saturate(6400%) hue-rotate(64deg) brightness(60%) contrast(102%);
				}
			}

			.f {
				display: unset;


				@media (min-width: $breakpoint-sm) {
					display: flex;

					.ul-f {
						flex: 1;
					}
				}
			}



			.btn:hover {
				background-color: $voilet_blue;
			}

			.hlght {
				color: $voilet_blue;
			}

			h1, h2 {
				color: $pink_dark;
			}

			h1 {
				font-size: 32px;
			}

			p {
				color: $black_jet;
			}
		}
	}

	/* header */
	.header {
		color: #3366BB;
	}

	/* svgs */
	.soc-svg1 {
		filter: contrast(0);
		cursor: pointer;
		width: 28px;
		margin: 4px;
	}

	.soc-svg1:hover {
		filter: none;
		width: 32px;
	}

	.profile {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 16px;
	}

	@media (min-width: 600px) {
		.soc-svg1 {
			margin: 8px;
		}
	}
}

.portfolio-about {
	display: none;
	position: absolute;
	height: 25%;
	bottom: 0;
	right: 10%;
	z-index: -1;

	@media (min-width: $breakpoint-md) {
		display: block;
	}
}
