@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
	background-color: $white_off;

	.main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		h1, h2, h3, li {
			color: $black_jet;
			font-family: 'Josefin Sans', sans-serif;
		}

		p {
			font-family: 'Josefin Sans', sans-serif;
			font-size: 13px;
		}

		ul {
			list-style: none;
			padding: 8px 0;

			li {
				padding: 4px 0;;
			}
		}

		.grid-container {
			margin-top: 100px;
			max-width: 1200px;
			display: grid;
			grid-template-areas:
				'pr1'
				'pr2';
			grid-gap: 16px;
			padding: 24px;

			h3{
				padding: 20px;
				font-size: 24px;
				text-align: center;
			}

			h3:hover {
				color: $pink_dark;
			}

			.edu {
				display: flex;
				justify-content: center;

				h3{
					padding: 20px;
					font-size: 24px;
					text-align: center;
				}

				h3:hover {
					color: $pink_dark;
				}
			}

			.btn-container {
				display: flex;
				justify-content: center;
				width: 240px;

				.btn {
					background-color: $pink_dark;
					border-radius: 32px;
					text-align: center;
					padding: 16px 32px;
					color: $white;
					cursor: pointer;
					min-width: 100%;
					text-decoration: none;
				}
			}

			.btn:hover {
				background-color: $voilet_blue;
			}

			.hlght {
				color: $voilet_blue;
			}

			h1, h2 {
				color: $pink_dark;
			}

			h1 {
				font-size: 32px;
			}

			p {
				color: $black_jet;
			}
		}
	}

	/* header */
	.header {
		color: #3366BB;
	}

	/* svgs */
	.soc-svg1 {
		filter: contrast(0);
		cursor: pointer;
		width: 28px;
		margin: 4px;
	}

	.soc-svg1:hover {
		filter: none;
		width: 32px;
	}

	.profile {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		margin: 16px;
	}

	@media (min-width: 600px) {
		.soc-svg1 {
			margin: 8px;
		}
	}
}

.portfolio-about {
	display: none;
	position: absolute;
	height: 25%;
	bottom: 0;
	right: 10%;
	z-index: -1;

	@media (min-width: $breakpoint-md) {
		display: block;
	}
}
