@import './variables.scss';

.main {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

	.img {
		display: flex;
		align-items: center;
		justify-content: center;
		width:100%;

		.main-img {
			width: 100%;
			z-index: 2;
			position: absolute;
			bottom: 0;
			display: none;
		}

		@media (min-width: $breakpoint-md) {
			display: flex;
			align-items: center;
			justify-content: center;
			width:100%;
			height: 100%;
		}
	}

	.main-title {
		position: absolute;
		top: 20%;
		z-index: 20;

		h1 {
			font-size: 48px;
			line-height: 56px;
			padding-bottom: 16px;
			color: $white;
			padding: 8px;

			span {
				color: $yellow_nicc;
			}
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: $pink_candy;
			padding: 16px 8px 8px 8px;
			max-width: 520px;
		}

		@media (min-width: $breakpoint-md) {
			top: 35%;
		}

		@media (min-width: $breakpoint-xl) {

			h1 {
				font-size: 64px;
				line-height: 72px;
			}
		}
	}
}

.background {
	z-index: 1;

	.background-inner {
		position: absolute;
		padding: 0;

		@media (min-width: $breakpoint-sm) {
			padding: 24px;
		}
	}

	.background-magic {
		background-color: $white;
	}

	.circle-s {
		display: none;
		border-radius: 50%;
		z-index: -1;
		height: 8px;
		width: 8px;

		@media (min-width: $breakpoint-lg) {
			display: block;
		}
	}
}

