@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
/* nav */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $voilet_blue;
	padding: 16px;
	height: 64px;
	width: 100%;
	position: absolute;
	z-index: 8;

	li a {
		font-family: 'Nanum Pen Script', cursive;
		text-decoration: none;
		color: #ffffff;
		font-size: 24px;
	}

	li a:hover {
		color: $yellow_nicc;
		text-decoration: none;
	}

	#current {
		color: $yellow_nicc;
		text-decoration: none;
		cursor: inherit;
	}

	.logo {
		cursor: pointer;
		width: 64px;
		padding: 16px;
		filter: contrast(0) brightness(100);

		&:hover {
			filter: none;
			padding: 0;
		}
	}

	.social {
		display: none;

		@media (min-width: $breakpoint-sm) {
			display: block;
		}
	}

	.soc-svg {
		filter: contrast(0) brightness(100);
		cursor: pointer;
		width: 16px;
		margin: 8px;
	}

	.soc-svg:hover {
		filter: none;
		width: 32px;
		margin:0;
	}

	.nav-links {
		list-style: none;
	}

	.nav-links li {
		display: inline;
		padding:  0 8px;
	}

	bottom p {
		display: flex;
		justify-content: center;
		padding: 0 0 32px 0;
	}

	a {
		color: #3366BB;
		text-decoration: none;
	}

	a:hover {
		color: #7F00FF;
		text-decoration: underline;
	}

}

.nav-lower {
	background-image: url(../images/dropdown.png);
	height: 8px;
	width: 100%;
	background-color: transparent;
	background-repeat: repeat-x;
	background-size: 80px 8px;
	background-position: center center;
	position: absolute;
	top: 64px;
	z-index: 8;
}

@media (min-width: 600px) {

    .nav {
        padding: 16px 40px;
    }
}

@media (min-width: 880px) {

    .nav {
        padding: 16px 48px;
    }
}
