@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
	background-color: $white_off;

	.main {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.grid-container {
			position: absolute;
			width: 100%;
			top: 100px;
			display: grid;
			grid-template-areas:
				'pr1'
				'pr2'
				'pr3'
				'pr4'
				'pr5'
				'pr6';
			grid-column: 0px;
			grid-row-gap: 32px;
			padding: 24px;

			.pr1 {
				grid-area: pr1;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}

			.pr2 {
				grid-area: pr2;
			}

			.pr3 {
				grid-area: pr3;
			}

			.pr4 {
				grid-area: pr4;
			}

			.pr5 {
				grid-area: pr5;
			}

			.pr6 {
				grid-area: pr6;
			}

			.p-img {
				display: flex;
			}

			.p-desc {
				background-color: $black_jet;
				display: none;
				border-radius: 0 0 16px 16px;

				.p-left {
					padding: 0 0 0 16px;
					width: 100%;

					p {
						font-size: 13px;
						padding: 24px 32px 0 0;
					}

					h1 {
						padding: 24px 0;
					}
				}

				.p-right {
					padding: 0 40px 64px 0;

					p {
						padding: 24px 0 0 0;
					}

					h2 {
						padding: 12px 0;
					}
				}

				h1, h2 {
					font-family: 'Josefin Sans', sans-serif;
					color: $grey_light_1;
					text-align: left;
				}

				p {
					font-family: 'Josefin Sans', sans-serif;
					color: $white;
				}
			}

			.btn-container {
				display: flex;
				justify-content: center;

				.btn {
					background-color: $pink_dark;
					border-radius: 32px;
					text-align: center;
					padding: 16px 32px;
					color: $white;
					cursor: pointer;
					width: 240px;
					text-decoration: none;
					margin: 16px;
				}
			}

			.btn:hover {
				background-color: $voilet_blue;
			}

			.title {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: 0;
				font-size: 64px;
				color: $white;
			}

			img {
				width: 100%;
				height: 240px;
				object-fit: cover;
			}

			.sec-img {
				display: none;
			}

			@media (min-width: $breakpoint-md) {
				grid-template-areas:
				'pr1'
				'pr2'
				'pr3'
				'pr4'
				'pr5'
				'pr6';

				.sec-img {
					display: block;
				}

			}

			@media (min-width: $breakpoint-xl) {
				width: 1260px;
				padding: 48px;
			}
		}

		.grid-container div h2 {
			text-align: center;
			color: $grey_slate;
			margin: 16px 0;
			padding: 8px;
			height: 40px;
		}

		.grid-container .p-img {
			opacity: .3;
			filter: grayscale(100%);
		}

		.grid-container .p-img:hover {
			opacity: 1;
			filter: none;
		}
	}
}

.pms {
	animation: pms 6s ease infinite;
	position: fixed;
	right: 120px;
	bottom: 0;
}

@keyframes pms {
	0% { opacity: 1; }
	40% { opacity: .4; }
	60% { opacity: .6; }
	100% { opacity: 1; }
}

.pm {
	animation: pm 6s ease infinite;
	position: fixed;
	height: 24%;
	right: 112px;
}

@keyframes pm {
	0% { bottom: 8px; }
	50% { bottom: 40px; }
	100% { bottom: 8px; }
}

.pm, .pms {
	display: none;

	@media (min-width: $breakpoint-xl) {
		display: block;
	}
}



