@import '../nav';

/* nav */
.nav-out {
	background-color: $black_jet;

	.nav {
		border-bottom: 2px solid $white;

		li a {
			color: $white;
		}

		li a:hover {
			color: $pink_dark;
		}

		#current {
			color: $pink_dark;
		}

		.eye-all {

			.eye {
				background: $white;

				.ball {
					background: $black_jet;
				}
			}

			&:hover .eye{
				background: $pink_dark;
			}
		}

		.soc-svg {
			filter: contrast(0) brightness(10);
		}
	}
}
